label {
  text-transform: capitalize;
}

.detail-form {
  padding: 20px 20px;
  font-size: 18px;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}

.title {
  padding-bottom: 20px;
  font-size: 18px;
  font-weight: 700;
}

.form-group {
  margin-bottom: 20px;
  display: grid;
  gap: 10px;
}

.form-input {
  height: 30px;
  font-size: 14px;
  border: 5px solid #3297ff;
  border-radius: 12px;
  padding: 20px 20px;
}

.form-input:hover,
.form-input:active {
  border: 5px solid #016ed6;
  outline: none;
}

.generator {
  margin-top: 20px;
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}

.canvas {
  padding: 20px 20px;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}

.canvas-container {
  position: relative;
  width: 100%;
  max-width: 750px;
  height: auto;
}

.canvas-container img {
  width: 100%;
  height: auto;
  display: block;
}

.upload-box {
  width: 75%;
  border: 3px dashed #0c2a48;
  border-radius: 5px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.6);
  transform: rotate(45deg);
  position: relative;
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

.upload-box span {
  transform: rotate(-45deg); /* counter rotate content */
  text-align: center;
  font-size: 12px;
  color: #0c2a48;
}

.canvas-image-upload {
  position: absolute;
  width: 60%;
  top: 14%;
  left: 27%;
  cursor: pointer;
}

.canvas-image-upload img {
  width: 140%;
  height: 140%;
  object-fit: cover;
  transform: rotate(-45deg); /* straighten image */
}
.canvas-image-upload input {
  transform: rotate(-45deg); /* straighten image */
  cursor: move;
}
